$container-width: 80rem;
$tablet-width: 48rem;
$phone-width: 20rem;
$font-latin: Roboto, sans-serif;
$font-cjk:
  "Noto Sans TC", "PingFang TC", "Hiragino Sans GB W3", "Microsoft Yahei";
$font-sans: $font-latin,$font-cjk;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #aa0601;
  --header-bg: var(--primary);
  --header-fg: var(--beige);
  --header-height: 5rem;
  --footer-bg: var(--primary);
  --footer-fg: var(--beige);
  --container-width: #{$container-width};
  --beige: #fbf2f2;
}

html,
body {
  margin: 0;
  font-size: 100%;
  font-family:$font-sans;
}

my-container {
  display: block;
  width: var(--container-width);

  // 左右 margin
  margin-inline: auto;

  @media screen and (max-width: #{$container-width}) {
    width: 100%;
    padding-inline: 1.5rem; // 等於<html> font size 24px
  }

  @media (max-width:#{$tablet-width}){
    background:pink;
    .grid{
      --column:2;
      grid-template-columns:repeat(var(--columns), 1fr);
    }
  }
  @media (max-width:#{$phone-width}){

    background:yellow;
  }
}
