@import "./_vars";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #aa0601;
  --header-bg: var(--primary);
  --header-fg: var(--beige);
  --header-height: 5rem;
  --footer-bg: var(--primary);
  --footer-fg: var(--beige);
  --container-width: #{$container-width};
  --beige: #fbf2f2;
}

html,
body {
  margin: 0;
  font-size: 100%;
  font-family:$font-sans;
}

my-container {
  display: block;
  width: var(--container-width);

  // 左右 margin
  margin-inline: auto;

  @media screen and (max-width: #{$container-width}) {
    width: 100%;
    padding-inline: 1.5rem; // 等於<html> font size 24px
  }

}
