$container-width: 80rem;

*,
*::before,
*::after {
  margin: 0;
  border-sizing: border-box;
}

:root {
  --primary: #aa0601;
  --header-bg: var(--primary);
  --header-fg: #fbf2f2;
  --header-height: 5rem;
  --footer-bg: var(--primary);
  --footer-fg: #fbf2f2;
  --container-width: #{$container-width};
}

html,
body {
  font-size: 100%;
}

my-container {
  display: block;
  width: var(--container-width);

  // 左右 margin
  margin-inline: auto;

  @media screen and (max-width: #{$container-width}) {
    width: 100%;
    margin-inline: 1.5rem; // 等於<html> font size 16px
  }
}
