---
import Layout from "../layouts/Layout.astro";
import { shops } from "../data";
import ShopCard from "../components/ShopCard.astro";
---

<Layout title="hello">
  <my-container>
    <h1>門市據點</h1>

    <label
      ><span>選擇地區</span>
      <select>
        <option>台北市</option>
        <option>屏東市</option>
      </select></label
    >
    <div class="grid">
      {shops.map((shop) => <ShopCard shop={shop} />)}
    </div>
  </my-container>

  <style>
    .grid {
      overflow: hidden;
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      margin-bottom: 5rem;
      align-items: stretch;
    }

    h1 {
      margin: 6rem 0 0;
      font-size: 3rem;
      border-left: 7px solid #9f1213;
      padding-left: 0.6rem;
    }
    span {
      font-size: 1.5rem;
    }
    select {
      width: 19rem;
      height: 2.37rem;
      border: 1px solid #ced4da;
      background: #ffffff;
      font-size: 1.15rem;
      margin: 2rem 0 2.5rem 1rem;
      color: #495057;
    }
  </style>
</Layout>
