<header>
  <my-container>
    <img src={Astro.url + "/images/logo-white.png"} alt="glassLogo" />
    <div class="navbar">
      <ul>
        <li>系列鏡框</li>
        <li>門市據點</li>
        <li>部落格</li>
        <li>常見問題</li>
      </ul>
    </div>
  </my-container>
</header>

<style lang="scss">
  @use "../styles/_vars";
  header {
    background: var(--header-bg);
    color: var(--header-fg);
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
  }
  my-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 5rem;
    height: auto;
  }
  ul {
    display: flex;
    list-style: none;
    font-size: 1.25rem;
    gap: 2em;
  }

  @media (max-width: #{vars.$phone-width}) {
    header {
      height: 100%;
    }
    my-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 0;
    }
    img {
      margin: 1rem 0 1rem 1rem;
    }
    .navbar {
      width: 100%;
    }
    ul {
      list-style: none;
      font-size: 1rem;
      padding: 0;
      gap: 0;
      margin: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }

    li {
      border: 1px solid var(--header-fg);
      padding-block: 0.75rem;
      border-bottom: 0;

      &:nth-child(even) {
        border-left: 0;
      }
    }
  }
</style>
